@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black;
        * {
            @apply border-white/40;
        }
    }
}

@layer utilities {
    .text-r1 {
        @apply text-sm 
        sd:text-base
        hd:text-base 
        4k:text-base;
    }
    .text-r2 {
        @apply text-base 
        sd:text-lg 
        hd:text-lg 
        4k:text-lg
        !leading-snug;
    }
    .text-r3 {
        @apply font-display
        text-xl 
        sd:text-2xl 
        hd:text-2xl 
        4k:text-3xl
        !leading-none;
    }
    .text-r4 {
        @apply font-display
        text-4xl 
        sd:text-4xl
        hd:text-4xl 
        4k:text-6xl
        !leading-none;
    }

    .shadow-spt {
        @apply shadow-[0_9px_9px_0_rgba(0,0,0,.1),_0_0_29px_0_rgba(0,0,0,.1)];
    }
}

@layer components {
    .anchor-plain {
        @apply no-underline hover:opacity-100 active:opacity-70 transition-opacity active:transition-none;
    }
    .anchor-underline {
        @apply underline hover:text-cyan-100 active:text-cyan-200 active:transition-none transition-colors;
    }
    .secret-button {
        @apply px-3 py-2 rounded-lg bg-white/0  hover:opacity-100 hover:bg-white/10 active:bg-white/20 active:transition-none transition-[opacity,background-color,background-image] cursor-pointer;
    }
    .hinted-button {
        @apply px-3 py-2 rounded-lg bg-gradient-to-b from-white/10 via-white/5 bg-white/5 hover:opacity-100 hover:bg-white/10 active:bg-white/20 active:transition-none transition-[opacity,background-color,background-image] cursor-pointer;
    }
    .highlight-button {
        @apply bg-accent/80 hover:bg-accent/90 active:bg-accent/100 py-2 px-6 h-12 rounded-full flex flex-row justify-center items-center gap-2 text-white font-display text-r2 font-medium leading-none cursor-pointer transition-[background-color,transform] active:transition-none;
    }

    .material-static {
        @apply border-2 bg-black/50 backdrop-blur;
    }

    .career-container {
        @apply flex flex-col justify-between items-center min-h-screen gap-24;
        header {
            &.career-header {
                @apply z-10 w-full max-w-lg flex flex-col justify-center gap-3 min-h-[38vh] px-6;
            }
        }
        section {
            @apply z-10 w-full mx-auto flex flex-col items-center justify-center gap-6;
            &.section-character {
                @apply max-w-4xl min-h-[24vh];
            }
            &.section-resources {
                @apply max-w-3xl min-h-screen;
            }
            &.section-tools {
                @apply max-w-7xl min-h-[24vh];
            }
            &.section-people {
                @apply max-w-7xl min-h-[24vh];
            }
        }
    }
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("https://use.typekit.net/af/99b799/00000000000000007735bb38/30/l?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n2&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/99b799/00000000000000007735bb38/30/d?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n2&v=3")
            format("woff"),
        url("https://use.typekit.net/af/99b799/00000000000000007735bb38/30/a?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n2&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/l?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/d?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/a?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n4&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n5&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n5&v=3")
            format("woff"),
        url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n5&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display";
    src: url("https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/l?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/d?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/a?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n7&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-text";
    src: url("https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/l?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/d?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/a?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n4&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-text";
    src: url("https://use.typekit.net/af/305037/00000000000000007735bb39/30/l?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/305037/00000000000000007735bb39/30/d?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/305037/00000000000000007735bb39/30/a?primer=66eab40ab701d8f34f803a711b9899ef5b6958f7c94f82c09df802365e52aa9d&fvd=n7&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}
